<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Посты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/posts}">Смотреть посты</a>
    </nav>
</header>
    <h1>Добавление нового поста</h1>
    <div class="form-container">
        <form th:action="@{/posts/add}" method="POST" th:object="${post}">
            <input type="text" th:field="*{title}" placeholder="Введите подпись к посту" required><br>
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message">Title error</div>

            <input type="text" th:field="*{author}" placeholder="Введите автора поста" required><br>
            <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error-message">Author error</div>

            <input type="text" th:field="*{imageURL}" placeholder="Вставьте изображение" required><br>
            <div style="color: red" th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}" class="error-message">ImageURL error</div>
            <button type="submit">Опубликовать</button>
        </form>
    </div>
</body>
</html>