<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Посты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/posts}">Назад</a>
        </nav>
    </header>
    <form method="POST" th:object="${post}">
        <input type="hidden" name="_method" value="PATCH">

        <input type="text" th:field="*{title}" th:value="${post.title}" placeholder="Введите подпись к посту">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message">Title error</div>

        <input type="text" th:field="*{author}" th:value="${post.author}" placeholder="Введите автора поста">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error-message">Author error</div>

        <input type="text" th:field="*{imageURL}" th:value="${post.imageURL}" placeholder="URL изображения">
        <div style="color: red" th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}" class="error-message">ImageURL error</div>
        <button type="submit">Сохранить изменения</button>
    </form>

    <form th:action="@{'/posts/' + ${post.id} + '/remove'}" method="POST" style="margin-top: 20px;">
        <input type="hidden" name="_method" value="DELETE">
        <button class="delete-button" type="submit">Удалить пост</button>
    </form>

</body>
</html>